#%RAML 1.0
---

title: Transit Movement
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/customs:
  /transit-movement:
      /crossing:
        post:
          displayName: Submit details of a crossing
          description: This endpoint takes a JSON body that contains details of a crossing including any associated vehicles, trailers or containers along with the movement reference numbers of transit movements that are inside them. Carriers should submit crossing data when the vessel sets sail and the doors are closed. The max request body size is currently 100KB.
          is: [headers.acceptHeader, headers.contentHeader]
          securedBy: [sec.x-application]
          body:
            application/json:
              type: !include schemas/submit-crossing-request.json
              example: !include examples/submit-crossing-request-example.json
          responses:
           204:
