#%RAML 1.0
---

title: Transit Movement
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

mediaType: [ application/json, application/hal+json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/customs:
  /transit-movement:
      /transits:
        post:
          displayName: Submit details of transit movements
          description: This endpoint takes a JSON body containing the details of transit movements and is primarily for use when submitting one movement record at a time, using an application such as the iOS MRN barcode scanning app.
          is: [headers.acceptHeader, headers.contentHeader]
          securedBy: [sec.x-application]
          body:
            application/json:
              type: !include schemas/submit-transits-request.json
              example: !include examples/submit-transits-request-example.json
          responses:
           200:
      /crossing:
        post:
          displayName: Submit details of a crossing
          description: This endpoint takes a JSON body that contains details of a crossing including any associated vehicles, trailers or containers along with the movement reference numbers of transit movements that are inside them.
          is: [headers.acceptHeader, headers.contentHeader]
          securedBy: [sec.x-application]
          body:
            application/json:
              type: !include schemas/submit-crossing-request.json
              example: !include examples/submit-crossing-request-example.json
          responses:
           204:


